.App {
  text-align: center;
}

.imagelinkform {
  margin-top: 70px;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.signout {
  position: absolute;
}

.logo {
  padding-top: 30px;
  position: absolute;
}